@import "tailwindcss";

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #171717;
  --color-highlight: #00ADB5;
  --color-primary: #EEEEEE;
  --color-secondary: #393E46;
}

:root {
  background: var(--background);
  color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}